<table class="table align-items-center">
  <thead>
    <tr>
      <th scope="col" class="sort" data-sort="product">Producto</th>
      <th scope="col" class="sort" data-sort="price">Preço</th>
      <th scope="col">Quantidade</th>
      <th scope="col" class="sort" data-sort="total">Total</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody class="list">
    <tr *ngFor="let doc of docs">
      <th scope="row">
        <div class="col align-items-center">
          <div class="lh-100">
            <span class="text-dark font-weight-bold mb-0">{{ doc?.item?.service }}</span>
          </div>
          <span class="font-weight-bold text-muted">{{ doc?.item?.description }}</span>
        </div>
      </th>
      <td class="price">
        {{ doc?.item?.price | currency:'AOA' }}
      </td>
      <td>
        <input type="number" class="form-control form-control-sm text-center w-80" [value]="doc?.quantity">
      </td>
      <td class="total">
        {{ (doc?.item?.price * doc?.quantity) | currency:'AOA' }}
      </td>
      <td class="text-right">

        <div class="actions ml-3">
          <a href="javascript:void(0)" class="action-item mr-2" data-toggle="tooltip" title="Visualizar item">
            <i class="far fa-external-link-alt"></i>
          </a>
          <a href="javascript:void(0)" (click)="remove(doc)" class="action-item mr-2" data-toggle="tooltip"
            title="Remover da Bolsa">
            <i class="far fa-times"></i>
          </a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
