<businx-page-title [controls]="false" title="Painel de Controle"></businx-page-title>

<ng-container *ngIf="growthCards$.length > 0">
  <div class="row py-3">
    <div class="col-lg-4" *ngFor="let card of growthCards$">
      <businx-growth-card [card-config]="card"></businx-growth-card>
    </div>
  </div>
</ng-container>

<div class="row py-2">
  <div class="col-lg-6">
    <div class="card shadow" id="earns-card">
      <div class="card-body">
        <div class="row mb-0 px-2">
          <div class="col-lg-12">
            <h1 class="h6 text-uppercase d-block">Meus Ganhos</h1>
            <p class="d-flex align-items-center mb-2">
              <span class="h2 font-weight-bold mr-2">
                {{ 31951.90 | currency:'AOA' }}
              </span>
              <span class="badge badge-success text-xs">
                <i class="fa fa-chevron-up"></i> 16%
              </span>
            </p>

          </div>
        </div>
        <div class="row d-flex align-items-center px-2 m-0">
          <div class="col">
            <p class="text-sm mb-0">Hoje</p>
            <span class="font-weight-bold">+{{ 2000 | currency:'AOA' }}</span>
          </div>
          <div class="col">
            <hr class="divider divider-vertical divider-xs" />
          </div>
          <div class="col">
            <p class="text-sm mb-0">Esta Semana</p>
            <span class="font-weight-bold">+{{ 7800 | currency:'AOA' }}</span>
          </div>
          <div class="col">
            <hr class="divider divider-vertical divider-xs" />
          </div>
          <div class="col">
            <p class="text-sm mb-0">Este Mês</p>
            <span class="font-weight-bold">+{{ 28540 | currency:'AOA' }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card shadow">
      <div class="card-body">
        <businx-apex-line></businx-apex-line>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-between">
  <h1 class="h5 font-weight-bold">Facturas Recentes</h1>
  <a routerLink="/orders" class="btn-link btn-sm text-uppercase" *ngIf="orders$">Ver todas as Facturas</a>
</div>

<div class="row pt-1 pb-5">
  <p class="text-muted empty-invoice-list" *ngIf="!orders$; else hasData">
    Não há faturas recentes para mostrar. <a routerLink="/shopping/cart" class="btn-link">Clique aqui</a> para criar uma nova Factura ou Orçamento.
  </p>
  <ng-template #hasData>
    <div class="col-lg-4" *ngFor="let order of orders$ | async">
      <businx-invoice-card [order]="order"></businx-invoice-card>
    </div>
  </ng-template>
</div>
