<businx-page-title title="Detalhes de Serviço"></businx-page-title>

<div class="row pt-3">
  <div class="col-lg-6"></div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-sm-6 mb-4 mb-sm-0">
            <span class="d-block h3 mb-0" id="price">{{ 0000 | currency:'AOA' }}</span>
          </div>
          <div class="col-sm-6 text-sm-right">
            <button type="button" class="btn bg-gradient-finance text-white text-sm btn-icon">
              <span class="btn-inner--icon"><i class="far fa-shopping-cart"></i></span>
              <span class="btn-inner--text">Adicionar ao Carrinho</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
