<businx-page-title title="Detalhes de Serviço"></businx-page-title>

<div class="row pt-3">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-content">
        <div class="card-header">
          <div class="text-left">
            <h5 id="title" class="font-weight-bold text-uppercase">Nome Servico</h5>
            <p id="description" class="h6 text-muted text-sm">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Facilis asperiores ab velit deserunt eaque corporis, vitae nostrum beatae vel voluptatibus ipsum suscipit
              quod quasi facere ullam eligendi iure repellat enim!</p>
          </div>
        </div>
        <div class="card-body">
          <h6 class="initialism">Histórico</h6>

          <div id="timeline" class="list-group list-group-flush">
            <!-- Limit to 3 items (max) -->
            <!-- item -->
            <a href="javascript:void(0)" class="list-group-item list-group-item-action">
              <div class="d-flex">
                <div>
                  <i class="far fa-dollar-sign mr-3"></i>
                </div>
                <div>
                  <div class="text-sm lh-150">
                    Preco alterado por <span class="text-dark font-weight-bold">Jorge Costa</span>
                  </div>
                  <small class="d-block text-muted">2 hrs atrás</small>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-sm-6 mb-4 mb-sm-0">
            <span class="d-block h3 mb-0" id="price">{{ 0000 | currency:'AOA' }}</span>
          </div>
          <div class="col-sm-6 text-sm-right">
            <button type="button" class="btn bg-gradient-finance text-white text-sm btn-icon">
              <span class="btn-inner--icon"><i class="far fa-shopping-cart"></i></span>
              <span class="btn-inner--text">Adicionar ao Carrinho</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
