<nav class="navbar navbar-main navbar-expand-lg navbar-dark bg-finance navbar-border" id="navbar-main">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse"
      aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Mobile -->
    <div class="navbar-user d-lg-none ml-auto">
      <ul class="navbar-nav flex-row align-items-center">
        <li class="nav-item">
          <a href="#" class="nav-link nav-link-icon sidenav-toggler" data-action="sidenav-pin"
            data-target="#sidenav-main">
            <i class="fal fa-hamburger"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link nav-link-icon" data-action="omnisearch-open" data-target="#omnisearch"><i
              class="far fa-search"></i></a>
        </li>
        <li class="nav-item dropdown dropdown-animate">
          <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"><i class="far fa-bell"></i></a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg dropdown-menu-arrow p-0">
            <div class="py-3 px-3">
              <h5 class="heading h6 mb-0">Notificações</h5>
            </div>
            <div class="list-group list-group-flush">
              <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right"
                  data-title="2 hrs ago">
                  <div>
                    <span class="avatar bg-primary text-white rounded-circle">DC</span>
                  </div>
                  <div class="flex-fill ml-3">
                    <div class="h6 text-sm mb-0">Durban Capita <small class="float-right text-muted">1 hr
                        atras</small></div>
                    <p class="text-sm lh-140 mb-0">
                      Algum texto de exemplo rápido para criar no título do cartão.
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="py-3 text-center">
              <a href="#" class="link link-sm link--style-3">Ver todas as notificações</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown dropdown-animate">
          <a class="nav-link pr-lg-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" src="https://avatars2.githubusercontent.com/u/24974840?s=460&v=4">
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right dropdown-menu-arrow">
            <h6 class="dropdown-header px-0">Ola, Jorge!</h6>
            <a href="#!" class="dropdown-item">
              <i class="far fa-user"></i>
              <span>Perfil</span>
            </a>
            <a href="#!" class="dropdown-item">
              <i class="far fa-cog"></i>
              <span>Definicoes</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#!" class="dropdown-item">
              <i class="far fa-sign-out-alt"></i>
              <span>Sair</span>
            </a>
          </div>
        </li>
      </ul>
    </div>

    <!-- Desktop (header acessibility) -->
    <div class="collapse navbar-collapse navbar-collapse-fade" id="navbar-main-collapse">
      <ul class="navbar-nav align-items-lg-center">
        <li class="border-top opacity-2 my-2"></li>
        <li class="nav-item ">
          <a routerLink="/dashboard" routerLinkActive="active" class="nav-link pl-lg-0" href="#!">
            <i class="fal fa-tachometer-alt"></i>
            Painel de Controle
          </a>
        </li>
        <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fal fa-shopping-cart"></i>
            Vendas
          </a>
          <div class="dropdown-menu dropdown-menu-arrow p-lg-0">
            <div class="p-lg-4">
              <a routerLink="/contacts" routerLinkActive="active"  class="dropdown-item">
                Clientes
              </a>
              <a routerLink="/items" routerLinkActive="active" class="dropdown-item">
                Produtos & Servicos
              </a>
            </div>
            <div style="display: none;" class="dropdown-menu-links rounded-bottom delimiter-top p-lg-4">
              <div class="row">
                <div class="col-sm-6">
                  <a href="#!" class="dropdown-item">Link</a>
                  <a href="#!" class="dropdown-item">Link</a>
                </div>
                <div class="col-sm-6">
                  <a href="#!" class="dropdown-item">Link</a>
                  <a href="#!" class="dropdown-item">Link</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item ">
          <a class="nav-link pl-lg-0" href="#!">
            <i class="fal fa-shopping-bag"></i>
            Compras
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link pl-lg-0" href="#!">
            <i class="fal fa-analytics"></i>
            Relatorios
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-lg-auto align-items-center d-none d-lg-flex">
        <li class="nav-item">
          <a href="#" class="nav-link nav-link-icon sidenav-toggler" data-action="sidenav-pin"
            data-target="#sidenav-main">
            <i class="fal fa-hamburger"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link nav-link-icon" data-action="omnisearch-open" data-target="#omnisearch"><i
              class="far fa-search"></i></a>
        </li>
        <li class="nav-item dropdown dropdown-animate">
          <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"><i class="far fa-bell"></i></a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg dropdown-menu-arrow p-0">
            <div class="py-3 px-3">
              <h5 class="heading h6 mb-0">Notificações</h5>
            </div>
            <div class="list-group list-group-flush">
              <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right"
                  data-title="2 hrs ago">
                  <div>
                    <span class="avatar bg-primary text-white rounded-circle">DC</span>
                  </div>
                  <div class="flex-fill ml-3">
                    <div class="h6 text-sm mb-0">Durban Capita <small class="float-right text-muted">1 hr
                        atras</small></div>
                    <p class="text-sm lh-140 mb-0">
                      Algum texto de exemplo rápido para criar no título do cartão.
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="py-3 text-center">
              <a href="#" class="link link-sm link--style-3">Ver todas as notificações</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown dropdown-animate">
          <a class="nav-link pr-lg-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <div class="media media-pill align-items-center">
              <span class="avatar rounded-circle">
                <img alt="Image placeholder" src="https://avatars2.githubusercontent.com/u/24974840?s=460&v=4">
              </span>
              <div class="ml-2 d-none d-lg-block">
                <span class="mb-0 text-sm  font-weight-bold">Jorge Dacosta</span>
              </div>
            </div>
          </a>

          <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right dropdown-menu-arrow">
            <h6 class="dropdown-header px-0">Ola, Jorge!</h6>
            <a href="#!" class="dropdown-item">
              <i class="far fa-user"></i>
              <span>Perfil</span>
            </a>
            <a href="#!" class="dropdown-item">
              <i class="far fa-cog"></i>
              <span>Definicoes</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#!" class="dropdown-item">
              <i class="far fa-sign-out-alt"></i>
              <span>Sair</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
