<div class="footer pt-5 pb-4 footer-light" id="footer-main">
  <div class="row text-center text-sm-left align-items-sm-center">
    <div class="col-sm-6">
      <p class="text-sm mb-0">&copy; {{ currentYear }} <a href="https://splashink.gq/" class="h6 text-sm"
          target="_blank">Splash Ink</a>. Todos os direitos reservados.</p>
    </div>
    <div class="col-sm-6 mb-md-0">
      <ul class="nav justify-content-center justify-content-md-end">
        <li class="nav-item border-right">
          <a class="nav-link" href="javascript:void(0)">
            <img alt="AOA Flag" src="assets/img/svg/flags/angola.svg">
            <span class="h6 text-sm mb-0">PT</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">Suporte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">Termos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pr-0" href="#!">Privacidade</a>
        </li>
      </ul>
    </div>
  </div>
</div>
