<div class="modal fade fixed-right" id="modal-item-list" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-vertical" role="document">
    <div class="modal-content">

      <div class="modal-header align-items-center">
        <div class="input-group input-group-merge input-group-flush">
          <div class="input-group-prepend">
            <span class="input-group-text bg-transparent">
              <i class="far fa-search"></i>
            </span>
          </div>
          <input type="text" class="form-control form-control-flush" placeholder="Digite e pressione Enter...">
        </div>
      </div>

      <div class="scrollbar-inner" *ngIf="docs$">
        <a href="javascript:void(0)" class="list-group-item list-group-item-action" *ngFor="let doc of docs$ | async" (click)="add(doc)">
          <div class="row" data-toggle="tooltip" data-placement="right" data-title="">
            <div class="col">
              <h6 class="text-sm mb-0">{{ doc.name }}</h6>
              <p class="text-sm mb-0">
                {{ doc.price | currency:'AOA' }}
              </p>
            </div>
            <div class="col-auto">
              <button type="button" class="btn btn-sm btn-secondary rounded-circle btn-icon-only" (click)="add(doc)">
                <span class="btn-inner--visible">
                  <i class="far fa-shopping-cart"></i>
                </span>
              </button>
            </div>
          </div>
        </a>
      </div>

      <div class="modal-footer align-items-center">
        <button id="itemListBtn" type="button" class="btn btn-block btn-sm bg-danger text-white" data-dismiss="modal">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
