<div class="card shadow">
  <div class="card-body my-n2">
    <div class="d-flex align-items-center justify-content-between">
      <span class="text-muted">{{ order?.buyer?.name }}</span>
      <span class="badge badge-soft-warning" *ngIf="order.status.pending">Pendente</span>
      <span class="badge badge-soft-success" *ngIf="order.status.payed">Pagamento Efectuado</span>
    </div>
    <div class="row">
      <div class="col pt-3">
        <h1 class="pb-0 mb-0">{{ order.total | currency:'AOA' }}</h1>
        <p class="text-muted text-sm">
          <span class="far fa-clock"></span>
          {{ order?.date?.due | relativeTime | titlecase }}
        </p>
      </div>
    </div>
  </div>
  <div class="card-footer my-n2">
    <div class="d-flex align-items-center justify-content-center">
      <a [routerLink]="['/orders', order.id]" class="btn-link btn-sm">
        Visualizar factura
        <span class="ml-2 text-xs far fa-chevron-right"></span>
      </a>
    </div>
  </div>
</div>
