.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;

  background: #fefefe;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;

  height: inherit;
  width: 100%;
  border-radius: 20px;
  transition: all 500ms;
  overflow: hidden;
}

.price {
  font-weight: bold;
  color: #3c4858;
}
