<form [formGroup]="form">
  <div class="{{type}}-content">
    <div class="{{ type }}-header">
      <div class="{{ type }}-title d-flex align-items-center">
        <div>
          <div class="icon icon-sm icon-shape icon-info rounded-circle shadow mr-3">
            <i class="far fa-user"></i>
          </div>
        </div>
        <div>
        <h6 class="mb-0">{{ title }}</h6>
        </div>
      </div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" *ngIf="type === 'modal'">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="{{type}}-body">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center pt-1">

          <div class="row">
            <div class="col-sm-6">
              <p class="text-left">
                Tipo de cliente
              </p>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="accountTypePersonal" formControlName="accountType" value="Individual"
                    class="custom-control-input">
                  <label class="custom-control-label" for="accountTypePersonal">Individual</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="accountTypeBusiness" formControlName="accountType" value="Empresa"
                    class="custom-control-input">
                  <label class="custom-control-label" for="accountTypeBusiness">Empresa</label>
                </div>

                <span class="justify-content-center text-danger" *ngIf="accountType.invalid">
                  *Precisa selecionar uma opção.
                </span>
              </div>
            </div>
          </div>

          <hr class="mt-1">

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <select class="custom-select" formControlName="greet">
                  <option *ngFor="let greet of greetings" [value]="greet">{{ greet }}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="name" placeholder="Nome (Georgia Makayla)"
                  [ngClass]="{'is-valid': name.dirty && name.valid, 'is-invalid':( name.dirty || name.touched) && name.invalid}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="company" placeholder="Empresa (Opcional)"
                  [ngClass]="{'is-valid': company.dirty && company.valid, 'is-invalid': (company.touched || company.dirty) && company.invalid}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="number" class="form-control" formControlName="phone" placeholder="Telefone"
                  [ngClass]="{'is-valid': phone.dirty && phone.valid, 'is-invalid': (phone.touched || phone.dirty) && phone.invalid}">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="email" class="form-control" formControlName="email" placeholder="E-mail (Recomendado)"
                  [ngClass]="{'is-valid': email.dirty && email.valid, 'is-invalid': (email.touched || email.dirty) && email.invalid}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="nif" placeholder="NIF (Recomendado)"
                  [ngClass]="{'is-valid': nif.dirty && nif.valid, 'is-invalid': (nif.touched || nif.dirty) && nif.invalid}">
              </div>
            </div>
            <div class="col-sm-8">
              <div class="form-group text-left">
                <select class="custom-select" formControlName="coin">
                  <!-- <option [selected]="true">Selecionar Moeda</option> -->
                  <option *ngFor="let coin of coins" [value]="coin.currency">{{ coin.country }} - {{ coin.currency }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <hr class="mt-5 mb-4">

          <div class="text-right">
            <button id="cancelBtn" class="btn btn-link text-sm text-muted font-weight-bold">Cancelar</button>
            <button type="submit" [disabled]="form.invalid" class="btn btn-sm btn-primary rounded-pill">Salvar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
