<form [formGroup]="form">
  <div class="{{type}}-content">
    <div class="{{type}}-body">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center pt-1">
          <h6 class="h3">Novo Cliente</h6>

          <hr class="mt-1">

          <div class="row">
            <div class="col-sm-6">
              <p class="text-left">
                Tipo de cliente
              </p>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="accountTypePersonal" name="accountType" formControlName="accountType"
                    value="Individual" class="custom-control-input">
                  <label class="custom-control-label" for="accountTypePersonal">Individual</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="accountTypeBusiness" name="accountType" formControlName="accountType"
                    value="Empresa" class="custom-control-input">
                  <label class="custom-control-label" for="accountTypeBusiness">Empresa</label>
                </div>
              </div>
            </div>
          </div>

          <hr class="mt-1">

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <select class="custom-select" formControlName="greet">
                  <option [selected]="true">Saudação</option>
                  <option *ngFor="let greet of greetings" [value]="greet">{{ greet }}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="name" placeholder="Nome (Georgia Makayla)">
              </div>
            </div>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" formControlName="company" placeholder="Empresa">
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="phone" placeholder="Telefone">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="email" class="form-control" formControlName="email" placeholder="E-mail">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="nif" placeholder="NIF">
              </div>
            </div>
            <div class="col-sm-8">
              <div class="form-group text-left">
                <select class="custom-select" formControlName="coin">
                  <option [selected]="true">Selecionar Moeda</option>
                  <option *ngFor="let coin of coins" [value]="coin.code">{{ coin.country }} - {{ coin.currency }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <hr class="mt-5 mb-4">

          <div class="text-right">
            <ng-container *ngIf="type === 'modal'; else isCard">
              <button class="btn btn-link text-sm text-muted font-weight-bold" data-dismiss="modal">Cancelar</button>
            </ng-container>

            <ng-template #isCard>
              <button class="btn btn-link text-sm text-muted font-weight-bold">Cancelar</button>
            </ng-template>
            <button type="button" class="btn btn-sm btn-primary rounded-pill">Salvar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
