<div class="card">
  <div class="card-header actions-toolbar border-0">

    <div class="actions-search" id="actions-search">
      <div class="input-group input-group-merge input-group-flush">
        <div class="input-group-prepend">
          <span class="input-group-text bg-transparent"><i class="far fa-search"></i></span>
        </div>
        <input type="text" class="form-control form-control-flush" placeholder="Digite e pressione Enter ...">
        <div class="input-group-append">
          <a href="#" class="input-group-text bg-transparent" data-action="search-close"
            data-target="#actions-search"><i class="far fa-times"></i></a>
        </div>
      </div>
    </div>

    <div class="row justify-content-between align-items-center">
      <div class="col">
        <h6 class="d-inline-block mb-0">{{ config.title }}</h6>
      </div>
      <div class="col text-right">
        <div class="actions"><a href="#" class="action-item mr-3" data-action="search-open"
            data-target="#actions-search"><i class="far fa-search"></i></a>
          <div class="dropdown mr-3">
            <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="far fa-filter"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">
                <i class="far fa-sort-amount-down"></i>Mais novo
              </a>
              <a class="dropdown-item" href="#">
                <i class="far fa-sort-alpha-down"></i>De A-Z
              </a>
              <a class="dropdown-item" href="#">
                <i class="far fa-sort-alpha-up"></i>De Z-A
              </a>
            </div>
          </div>
          <div class="dropdown" data-toggle="dropdown">
            <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="far fa-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="javascript:void(0);" class="dropdown-item">
                <i class="far fa-redo-alt text-xs"></i>
                Atualizar
              </a>
              <a href="javascript:void(0);" class="dropdown-item">
                <i class="far fa-download text-xs"></i>
                Importar {{ config.title }}
              </a>
              <a href="javascript:void(0);" class="dropdown-item">
                <i class="far fa-upload text-xs"></i>
                Exportar {{ config.title }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="table-responsive">
    <table class="table align-items-center">
      <thead>
        <tr>
          <th scope="col" *ngFor="let col of config.columns">{{ col }}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="config.dataset.length > 0; else isEmpty">
          <tr *ngFor="let row of config.dataset">
            <ng-container *ngFor="let item of row | keyvalue:descOrder">

              <td *ngIf="item.key !== 'name' && item.key !== 'price' && item.key !== 'nature'">
                {{ item?.value }}
              </td>

              <td *ngIf="item.key === 'price'">
                {{ item?.value | currency:'AOA' }}
              </td>

              <td *ngIf="item.key === 'nature'">
                <span class="badge badge-warning badge-pill" *ngIf="item.value === 'Design'">
                  {{ item?.value }}
                </span>
                <span class="badge badge-info badge-pill" *ngIf="item.value === 'Marketing'">
                  {{ item?.value }}
                </span>
                <span class="badge badge-dark badge-pill" *ngIf="item.value === 'Tecnologia'">
                  {{ item?.value }}
                </span>
              </td>

              <th scope="row" *ngIf="item.key === 'name'">
                <div class="media align-items-center">
                  <div>
                    <div class="avatar-parent-child">
                      <span
                        class="avatar text-white bg-gradient-primary rounded-circle">{{ abbreviateName(item?.value) | uppercase}}</span>
                    </div>
                  </div>
                  <div class="media-body ml-4">
                    <a href="javascript:void(0)" class="name h6 mb-0 text-sm">{{ item?.value }}</a>
                  </div>
                </div>
              </th>
            </ng-container>

            <ng-container *ngFor="let _ of row | keyvalue">
              <td class="text-right" *ngIf="_.key == 'name'">

                <div class="actions ml-3">
                  <a [routerLink]="[_.value]" class="action-item mr-2" data-toggle="tooltip" title="Olhada rápida">
                    <i class="far fa-external-link-alt"></i>
                  </a>
                  <a [routerLink]="[_.value, 'edit']" class="action-item mr-2" data-toggle="tooltip" title="Editar">
                    <i class="far fa-pencil-alt"></i>
                  </a>
                  <a href="javascript:void(0)" class="action-item text-danger mr-2" data-toggle="tooltip"
                    title="Mover para lixeira">
                    <i class="far fa-trash"></i>
                  </a>
                </div>
              </td>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
      <ng-template #isEmpty>
        <div class="container py-3 justify-content-center">
          <div id="emptyTbl" class="text-center">
            Sem {{ config.title | lowercase }} a mostrar, tabela vazia.
          </div>
        </div>
      </ng-template>
    </table>
  </div>
</div>
