<div class="sidenav" id="sidenav-main">
 
  <div class="sidenav-header d-flex align-items-center">
    <a class="navbar-brand" href="">
      <img src="" class="navbar-brand-img" alt="Businx">
    </a>
    <div class="ml-auto">
 
      <div class="sidenav-toggler sidenav-toggler-dark d-md-none" data-action="sidenav-unpin"
        data-target="#sidenav-main">
        <div class="sidenav-toggler-inner">
          <i class="sidenav-toggler-line bg-white"></i>
          <i class="sidenav-toggler-line bg-white"></i>
          <i class="sidenav-toggler-line bg-white"></i>
        </div>
      </div>
    </div>
  </div>
 
  <div class="sidenav-user d-flex flex-column align-items-center justify-content-between text-center">
 
    <div>
      <a href="#" class="avatar rounded-circle avatar-xl">
        <img alt="Jorge Dacosta" src="https://avatars2.githubusercontent.com/u/24974840?s=460&v=4">
      </a>
      <div class="mt-4">
        <h5 class="mb-0 text-white">Jorge Dacosta</h5>
        <span class="d-block text-sm text-white opacity-8 mb-3">Agente de Vendas</span>
        <a href="#" class="btn btn-sm btn-white btn-icon rounded-pill shadow hover-translate-y-n3">
          <span class="btn-inner--icon"><i class="far fa-coins"></i></span>
          <span class="btn-inner--text">{{ 23000 | currency:'AOA'}}</span>
        </a>
      </div>
    </div>
 
    <div class="w-100 mt-4 actions d-flex justify-content-between">
      <a href="#!" class="action-item action-item-lg text-white pl-0">
        <i class="far fa-shopping-bag"></i>
      </a>
      <a href="#!" class="action-item action-item-lg text-white" data-toggle="modal">
        <i class="far fa-shopping-cart"></i>
      </a>
      <a href="#!" class="action-item action-item-lg text-white pr-0">
        <i class="far fa-file-invoice-dollar"></i>
      </a>
    </div>
  </div>

  <div class="nav-application clearfix">
    <a href="#!" class="btn btn-square text-sm active">
      <span class="btn-inner--icon d-block"><i class="far fa-tachometer-alt-fastest fa-2x"></i></span>
      <span class="btn-inner--icon d-block pt-2">Painel</span>
    </a>
  </div>
</div>
