<form [formGroup]="form">
  <div class="{{ type }}-content">

    <div class="{{ type }}-header">
      <div class="{{ type }}-title d-flex align-items-center">
        <div>
          <div class="icon icon-sm icon-shape icon-info rounded-circle shadow mr-3">
            <i class="far fa-suitcase-rolling"></i>
          </div>
        </div>
        <div>
        <h6 class="mb-0">{{ title }}</h6>
        </div>
      </div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" *ngIf="type === 'modal'">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="{{ type }}-body">
      <div class="row justify-content-center">
        <div class="col-lg-11 text-center pt-1">
          
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <input type="text" formControlName="name" placeholder="Nome" class="form-control"
                  [ngClass]="{'is-valid': fv.isValid(name), 'is-invalid' : fv.isInvalid(name)}">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <select formControlName="nature" class="form-control"
                  [ngClass]="{'is-valid': fv.isValid(nature), 'is-invalid' : fv.isInvalid(nature)}">
                  <option value="">Selecionar natureza de serviço</option>
                  <option *ngFor="let n of natures" [value]="n">{{ n }}</option>
                </select>
              </div>
            </div>
          </div>

          <hr class="py-1">

          <div class="row">
            <div class="col-lg-6">
              <h5 class="text-muted pb-3">Informações de vendas</h5>

              <div class="form-group">
                <div class="input-group">
                  <input type="number" formControlName="sellPrice" class="form-control"
                    [ngClass]="{'is-valid': fv.isValid(sellPrice), 'is-invalid' : fv.isInvalid(sellPrice)}"
                    placeholder="Preço de venda">
                  <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                    <span class="input-group-text">AOA</span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <textarea formControlName="sellDescription" cols="30" rows="3" class="form-control"
                  [ngClass]="{'is-valid': fv.isValid(sellDescription), 'is-invalid' : fv.isInvalid(sellDescription)}"
                  placeholder="Descrição ..."></textarea>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="custom-control custom-switch pb-4">
                <input type="checkbox" formControlName="buyInfo" (change)="toggle()" class="custom-control-input" id="buyinfo">
                <label class="custom-control-label" for="buyinfo">Informações de compra</label>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <input type="number" formControlName="buyPrice" class="form-control"
                    [ngClass]="{'is-valid': fv.isValid(buyPrice), 'is-invalid' : fv.isInvalid(buyPrice)}"
                    placeholder="Preço de custo">
                  <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                    <span class="input-group-text">AOA</span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <textarea formControlName="buyDescription" cols="30" rows="3" class="form-control"
                  [ngClass]="{'is-valid': fv.isValid(buyDescription), 'is-invalid' : fv.isInvalid(buyDescription)}"
                  placeholder="Descrição ..."></textarea>
              </div>
            </div>
          </div>

          <hr class="mt-5 mb-4">

          <div class="text-right">
            <button id="cancelBtn" class="btn btn-link text-sm text-muted font-weight-bold">Cancelar</button>
            <button type="submit" [disabled]="form.invalid" class="btn btn-sm btn-primary rounded-pill">Salvar</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</form>