<form>
  <div class="modal-content">

    <div class="modal-header">
      <div class="modal-title d-flex align-items-center">
        <div>
          <div class="icon icon-sm icon-shape icon-info rounded-circle shadow mr-3">
            <i class="far fa-suitcase-rolling"></i>
          </div>
        </div>
        <div>
          <h6 class="mb-0">Novo Servico</h6>
        </div>
      </div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="row justify-content-center">
        <div class="col-lg-11 text-center pt-1">

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <input type="text" placeholder="Nome" class="form-control">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <select class="form-control">
                  <option value="">Selecionar unidade</option>
                </select>
              </div>
            </div>
          </div>

          <hr class="py-1">

          <div class="row">
            <div class="col-lg-6">
              <div class="custom-control custom-switch pb-4">
                <input type="checkbox" class="custom-control-input" id="sellinfo">
                <label class="custom-control-label" for="sellinfo">Informações de vendas</label>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <input type="number" class="form-control" placeholder="Preço de venda">
                  <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                    <span class="input-group-text">AOA</span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <textarea cols="30" rows="3" class="form-control" placeholder="Descrição ..."></textarea>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="custom-control custom-switch pb-4">
                <input type="checkbox" class="custom-control-input" id="buyinfo">
                <label class="custom-control-label" for="buyinfo">Informações de compra</label>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <input type="number" class="form-control" placeholder="Preço de custo">
                  <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                    <span class="input-group-text">AOA</span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <textarea cols="30" rows="3" class="form-control" placeholder="Descrição ..."></textarea>
              </div>
            </div>
          </div>

          <hr class="mt-5 mb-4">

          <div class="text-right">
            <button class="btn btn-link text-sm text-muted font-weight-bold" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-sm btn-primary rounded-pill">Salvar</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</form>
