<div class="page-title">
  <div class="row justify-content-between align-items-center">
    <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">

      <div class="d-inline-block">
        <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">{{ title }}</h5>
      </div>

    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
      <div class="actions actions-dark d-inline-block">
        <a href="#" class="action-item ml-md-4">
          <i class="far fa-file-export mr-2"></i>Exportar
        </a>
      </div>
      <button class="btn btn-sm btn-white btn-icon-only rounded-circle ml-4" id="target" data-toggle="modal">
        <span class="btn-inner--icon"><i class="far fa-plus"></i></span>
      </button>
    </div>
  </div>
</div>
